name: peerstash
x-meta:
  compose_version: 0.7.0
services:
  storage:
    image: drakkan/sftpgo:v2-alpine-slim
    container_name: peerstash-sftp
    network_mode: service:control
    environment:
      - SFTPGO_SFTPD__PASSWORD_AUTHENTICATION=false
      - SFTPGO_SFTPD__KEYBOARD_INTERACTIVE_AUTHENTICATION=false
      - SFTPGO_HTTPD__BINDINGS__0__ADDRESS=127.0.0.1
      - SFTPGO_HTTPD__BINDINGS__0__ENABLE_WEB_ADMIN=0
      - SFTPGO_HTTPD__BINDINGS__0__ENABLE_WEB_CLIENT=0
      - SFTPGO_DATA_PROVIDER__CREATE_DEFAULT_ADMIN=true
      - SFTPGO_DEFAULT_ADMIN_USERNAME=${ADMIN_USERNAME}
      - SFTPGO_DEFAULT_ADMIN_PASSWORD=${ADMIN_PASSWORD}
    volumes:
      - type: bind
        source: ${PEERSTASH_SFTP}/data
        target: /srv/sftpgo/data
        bind:
          create_host_path: true
      - type: bind
        source: ${PEERSTASH_SFTP}/config
        target: /var/lib/sftpgo
        bind:
          create_host_path: true
    depends_on:
      - control
    restart: unless-stopped
  control:
    image: ghcr.io/bpr02/peerstash-control:latest
    container_name: peerstash-control
    network_mode: bridge
    hostname: peerstash-${ADMIN_USERNAME}
    environment:
      - USERNAME=${ADMIN_USERNAME}
      - PASSWORD=${ADMIN_PASSWORD}
      - DEFAULT_QUOTA_GB=${DEFAULT_QUOTA_GB}
      - TZ=${TZ}
    volumes:
      - type: bind
        source: ${PEERSTASH_ROOT_TARGET}
        target: /mnt/peerstash_root
        read_only: true
      - type: bind
        source: ${PEERSTASH_CONTROL}/config
        target: /var/lib/peerstash
        bind:
          create_host_path: true
      - type: bind
        source: ${PEERSTASH_SFTP}/config
        target: /var/lib/sftpgo
        read_only: true
      - type: bind
        source: ${PEERSTASH_CONTROL}/data
        target: /srv/peerstash/data
        bind:
          create_host_path: true
      - type: bind
        source: PEERSTASH_RESTORE_FOLDER
        target: /mnt/peerstash_restore
        bind:
          create_host_path: true
      - type: bind
        source: ${PEERSTASH_CONTROL}/data/restic_cache
        target: /root/.cache/restic
        bind:
          create_host_path: true
      - type: bind
        source: ${TAILSCALE_DATA}
        target: /var/lib/tailscale
        bind:
          create_host_path: true
    restart: unless-stopped
    privileged: false
    cpu_shares: 90
    deploy:
      resources:
        limits:
          memory: 15841M
    command: []
    ports:
      - target: 22
        published: "${SSH_PORT}"
        protocol: tcp
    devices:
      - /dev/fuse:/dev/fuse
      - /dev/net/tun:/dev/net/tun
    security_opt:
      - apparmor:unconfined
    cap_add:
      - sys_admin
      - net_admin
