name: "Lint PR Title"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - main

permissions:
  pull-requests: read
  statuses: write

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # 1. ENFORCE TYPES
          types: |
            feat
            fix
            perf
            docs
            style
            refactor
            test
            chore
          # 2. ENFORCE SCOPES
          requireScope: true
          scopes: |
            control
            compose
            ci
            release
            README
            CONTRIBUTING
            LICENSE
