name: Semantic Release

on:
  push:
    branches:
      - main
      - dev

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPO_OWNER: bpr02

jobs:
  check_changes:
    runs-on: ubuntu-latest
    outputs:
      control: ${{ steps.filter.outputs.control }}
      shell: ${{ steps.filter.outputs.shell }}
      web: ${{ steps.filter.outputs.web }}
      compose: ${{ steps.filter.outputs.compose }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
        token: ${{ steps.generate_token.outputs.token }}

      - name: Check for changes
        id: filter
        run: |
          if git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep -q '^peerstash-control/'; then
            echo "control=true" >> $GITHUB_OUTPUT
          fi
          if git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep -q '^peerstash-shell/'; then
            echo "shell=true" >> $GITHUB_OUTPUT
          fi
          if git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep -q '^peerstash-web/'; then
            echo "web=true" >> $GITHUB_OUTPUT
          fi
          if git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep -q '^peerstash-compose/docker-compose.yml'; then
            echo "compose=true" >> $GITHUB_OUTPUT
          fi

  release:
    needs: check_changes
    runs-on: ubuntu-latest
    steps:
      - name: Generate App Token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        if: github.ref == 'refs/heads/main'
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Make release script executable
        run: chmod +x ./scripts/build-and-push.sh

      - name: Run Semantic Release for control
        if: needs.check_changes.outputs.control == 'true' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          npm install
          npx semantic-release
        working-directory: peerstash-control

      - name: Run Semantic Release for shell
        if: needs.check_changes.outputs.shell == 'true' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          npm install
          npx semantic-release
        working-directory: peerstash-shell

      - name: Run Semantic Release for web app
        if: needs.check_changes.outputs.web == 'true' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          npm install
          npx semantic-release
        working-directory: peerstash-web

      - name: Run Semantic Release for docker compose
        if: needs.check_changes.outputs.compose == 'true' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          npm install
          npx semantic-release
        working-directory: peerstash-compose

      - name: Run Semantic Release for root folder
        if: (needs.check_changes.outputs.control == 'true' || needs.check_changes.outputs.shell == 'true' || needs.check_changes.outputs.web == 'true' || needs.check_changes.outputs.compose == 'true') && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          npm install
          npx semantic-release
        working-directory: .

      - name: Build dev image for control
        if: needs.check_changes.outputs.control == 'true' && github.ref == 'refs/heads/dev'
        run: ../scripts/build-and-push.sh peerstash-control dev dev
        working-directory: peerstash-control

      - name: Build dev image for shell
        if: needs.check_changes.outputs.shell == 'true' && github.ref == 'refs/heads/dev'
        run: ../scripts/build-and-push.sh peerstash-shell dev dev
        working-directory: peerstash-shell

      - name: Build dev image for web app
        if: needs.check_changes.outputs.web == 'true' && github.ref == 'refs/heads/dev'
        run: ../scripts/build-and-push.sh peerstash-web dev dev
        working-directory: peerstash-web
